## Notebook for gathering failed users data
### Date: 2/24/2020
### Author: Nikki

In [1]:
import pandas as pd
import tweepy  
import time

In [3]:
access_token = "KEY"
access_token_secret = "KEY"
consumer_key = "KEY"
consumer_secret = "KEY"
 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)  
auth.set_access_token(access_token, access_token_secret)  
api = tweepy.API(auth)

In [4]:
fail = pd.read_csv('failed_users.csv')

In [5]:
fail.head()

,id,fullname,date_joined,location,blog,num_tweets,following,followers,likes,lists,screen_name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mmmmmmmz5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Teddy64091003
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hengsuaycountry
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kyk0095
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20Nov6

In [17]:
# reference
# https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/user-object
user = api.get_user(screen_name = 'mmmmmmmz5')  
print(user.id)
print(user.followers_count)  
print(user.friends_count)
print(user.statuses_count)
print(user.created_at) # UTC date time
print(user.location)
print(user.listed_count)
print(user.verified)
print(user.name)
print(user.favourites_count)

1126775183065341952
0
20
88
2019-05-10 09:05:12

0
False
mmmmmmmz
6

In [18]:
# user object method
print(dir(user))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'contributors_enabled', 'created_at', 'default_profile', 'default_profile_image', 'description', 'entities', 'favourites_count', 'follow', 'follow_request_sent', 'followers', 'followers_count', 'followers_ids', 'following', 'friends', 'friends_count', 'geo_enabled', 'has_extended_profile', 'id', 'id_str', 'is_translation_enabled', 'is_translator', 'lang', 'listed_count', 'lists', 'lists_memberships', 'lists_subscriptions', 'location', 'name', 'notifications', 'parse', 'parse_list', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_image_url', 'profile_image_url_https', 'profile_link_color', 'profile_location', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'protected', 'screen_name', 'status', 'statuses_count', 'time_zone', 'timeline', 'translator_type', 'unfollow', 'url', 'utc_offset', 'verified']

In [21]:
failed_list = list(fail['screen_name'].values)

In [41]:
# retrieve data for 1 user

failed_users_dict = {}
keys = []
for x in fail.columns:
    if x != 'blog':
        keys.append(x)

for k in keys:
    failed_users_dict[k] = []
failed_users_dict
failed_users_dict

{'id': [],
 'fullname': [],
 'date_joined': [],
 'location': [],
 'num_tweets': [],
 'following': [],
 'followers': [],
 'likes': [],
 'lists': [],
 'screen_name': []}

In [35]:
keys = [x for x in fail.columns]
keys

['id',
 'fullname',
 'date_joined',
 'location',
 'blog',
 'num_tweets',
 'following',
 'followers',
 'likes',
 'lists',
 'screen_name']

In [46]:
for name in failed_list:
    try: 
        user = api.get_user(screen_name = name)  
        failed_users_dict['id'].append(user.id)
        failed_users_dict['fullname'].append(user.name)
        failed_users_dict['date_joined'].append(user.created_at)
        failed_users_dict['location'].append(user.location)
        failed_users_dict['num_tweets'].append(user.statuses_count)
        failed_users_dict['following'].append(user.friends_count)
        failed_users_dict['followers'].append(user.followers_count)
        failed_users_dict['likes'].append(user.favourites_count)
        failed_users_dict['lists'].append(user.listed_count)
        failed_users_dict['screen_name'].append(name)
    except:
        continue
new_fail = pd.DataFrame.from_dict(failed_users_dict)

In [47]:
new_fail

,id,fullname,date_joined,location,num_tweets,following,followers,likes,lists,screen_name
0,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,,88,20,0,6,0,mmmmmmmz5
1,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
2,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,,88,20,0,6,0,mmmmmmmz5
3,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
4,901120409872900099,‡∏ö‡πà‡∏ô‡πÑ‡∏õ‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏õ‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏â‡∏∑‡πà‡∏≠‡∏¢‡πÅ‡∏â‡∏∞‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡∏°‡∏á,2017-08-25 16:33:42,7o2 planet,39784,127,23737,66735,15,hengsuaycountry
5,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,,88,20,0,6,0,mmmmmmmz5
6,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
7,901120409872900099,‡∏ö‡πà‡∏ô‡πÑ‡∏õ‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏õ‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏â‡∏∑‡πà‡∏≠‡∏¢‡πÅ‡∏â‡∏∞‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡∏°‡∏á,2017-08-25 16:33:42,7o2 planet,39784,127,23737,66735,15,hengsuaycountry
8,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,,88,20,0,6,0,mmmmmmmz5
9,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
10,901120409872900099,‡∏ö‡πà‡∏ô‡πÑ‡∏õ‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏õ‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏â‡∏∑‡πà‡∏≠‡∏¢‡πÅ‡∏â‡∏∞‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡∏°‡∏á,2017-08-25 16:33:42,7o2 planet,39784,127,23737,66735,15,hengsuaycountry
11,1223973606322913280,‡∏ô‡∏¥‡∏£‡∏ô‡∏≤‡∏°,2020-02-02 14:17:17,,612,26,0,1135,0,20Nov6
12,2897885834,W.S.,2014-11-12 22:16:53,,1719,37,58,0,0,wisutter
13,1213345341522624513,tanyarat,2020-01-04 06:24:17,,140,8,0,0,0,fayyyma
14,1224979953256521728,Sukanya Norchoo,2020-02-05 08:56:14,,10,5,0,14,0,norchoo
15,1197408461203525632,luckyboi,2019-11-21 06:56:50,,125,2,1,0,0,luckybo16878263
16,869932036571643904,‡πÄ‡∏á‡∏≤_‡∏ô‡∏¥‡∏£‡∏ô‡∏≤‡∏°,2017-05-31 15:02:14,,304,5,1,92,0,fern_nnnnnnnn
17,1217880957790769152,‡∏ä‡∏≠‡∏ö‡∏≠‡πâ‡∏≤‡∏¢‡∏Å‡πâ‡∏≠‡∏á 4BL,2020-01-16 18:47:15,,164,27,0,627,0,Nattnoot
18,1213993177180278784,0958217661,2020-01-06 01:18:40,,92,11,0,79,0,jz3kEGg0UrTC4Nb
19,1206434928885239809,Ssming,2019-12-16 04:44:45,,187,40,0,177,0,Ssming6
20,1220848827982213121,‡∏û‡∏£‡∏µ‡πà‡πÅ‡∏°‡∏ß,2020-01-24 23:20:26,,9,0,0,0,0,kr1ssirk
21,1189552004382674950,Jame_02,2019-10-30 14:39:39,,105,37,0,348,0,J39Pleng
22,1227992807790407682,karl,2020-02-13 16:28:03,,60,0,0,0,0,karl20514383
23,972222677279789057,Anonymous_owlet,2018-03-09 21:28:44,,15983,31,1,5513,0,gigawatthour
24,1217161921364819968,0889497847,2020-01-14 19:10:03,,105,2,0,82,0,EYfYcGTx7kGvGgK
25,1229258128945905664,‡∏≠‡∏µ‡∏´‡∏ç‡∏∂‡∏á,2020-02-17 04:16:29,,19,13,0,6,0,Miss_MessyHair
26,1093331250306150400,Suchai,2019-02-07 02:10:57,Thailand,56,4,0,6,0,Suchai71202767
27,1221750918808387584,Pachara Kamachiengpin,2020-01-27 11:05:08,,100,22,0,3,0,Bank88778324
28,1206235544012722176,Nosandboxz,2019-12-15 15:32:29,,26,9,0,51,0,nosandbox_
29,982141233265983496,TeamTeam2002,2018-04-06 06:21:32,,374,7,0,44,0,TeamTeam2002
...,...,...,...,...,...,...,...,...,...,...
228,1012750302817091585,non,2018-06-29 17:31:02,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û,82,14,0,395,0,non85989264
229,1189106003284905986,‡∏≠‡∏£‡∏û‡∏£‡∏£‡∏ì,2019-10-29 09:05:56,,62,0,11,46,0,Moana123456
230,1223907066256871429,Nutcha,2020-02-02 09:52:47,,51,0,0,31,0,Nutcha13154027
231,1160610656560615424,ùòîùò¶ùòµùò¶ùò∞ùò≥‚òÑÔ∏è ‡πÄ‡∏™‡∏∑‡πâ‡∏≠Simple summer/‡πÄ‡∏£‡∏ó160-.‡∏ó‡∏∏‡∏Å‡∏ï‡∏±‡∏ß,2019-08-11 17:55:18,‡∏™‡∏±‡πà‡∏á‡∏ã‡∏∑‡πâ‡∏≠DM,280,2,290,0,0,mr_onedertime
232,3273756895,virgogirl~,2015-07-10 03:17:57,,1001,113,0,86,0,virgogirl__
233,968123890265239552,pizzaüçï hub,2018-02-26 14:01:37,,411,24,0,51,0,ssysia2
234,1193083017641611266,‡∏ö‡πâ‡∏≤‡∏´‡∏ß‡∏¢,2019-11-09 08:29:49,,29,10,0,4,0,VIP88912
235,1208468246157901824,üçícherlyn_colacat,2019-12-21 19:24:31,,275,10,0,224,0,CherlynColacat
236,1132670728334012416,SADTURN,2019-05-26 15:32:00,"Bangkok, Thailand",5,0,0,6,0,sadturnday_
237,1219555702399627264,Itsraphon Promsut,2020-01-21 09:42:03,‡πÑ‡∏°‡πà‡∏ö‡∏≠‡∏Å‡∏´‡∏£‡∏≠‡∏Å‡πÄ‡∏î‡∏µ‡πã‡∏¢‡∏ß‡∏ï‡∏∏‡∏¢,41,6,0,31,0,IPromsut
238,1184033402527215617,‡∏Å‡∏≤‡∏ï‡πà‡∏≤‡∏¢,2019-10-15 09:09:23,,6,23,0,1,0,kratai2510
239,1197229160629862400,‡∏≠‡∏¢‡πà‡∏≤‡∏´‡∏¢‡∏∏‡∏î‡πÄ‡∏™‡∏∑‡∏≠‡∏Å,2019-11-20 19:04:32,,93,3,0,104,0,Bm3oiub49O2vjpi
240,2853271338,‡∏´‡∏ô‡∏π‡∏â‡∏±‡∏ï‡∏£,2014-10-12 15:34:56,Thailand,847,156,0,2920,0,jjchatra
241,1110051833697853440,B,2019-03-25 05:32:35,,116,4,0,11,0,B55105014
242,1183614244564037634,‡∏ô‡πà‡∏∏‡∏°‡∏ô‡∏¥‡πà‡∏°Jimterbo,2019-10-14 05:23:30,,17,19,0,0,0,TheDudee5
243,1216987394563395584,Home,2020-01-14 07:36:31,,651,69,0,63,0,wcr787
244,1108232842553643008,A2O,2019-03-20 05:04:34,,438,79,0,39,0,A2O08969263
245,1217671202736467969,- ABC -,2020-01-16 04:53:46,,147,65,0,20,0,AbcEieikiki
246,1186577620038647808,Zolzhumeiyi,2019-10-22 09:39:01,,113,9,0,23,0,zolzhumeiyi
247,1038620698044821505,ÁÅ∞Ëâ≤,2018-09-09 02:50:45,,2336,114,0,306,0,Tei_balakuukuuk
248,954992660418240512,‡∏à‡∏≠‡∏á‡∏î‡∏≠¬©‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ô‡∏≠‡∏¥‡∏´‡∏≠‡∏¢,2018-01-21 08:22:47,"‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£, ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢",51,22,0,528,0,On_soRn
249,1214121129582841856,‡∏û‡∏≠‡πÄ‡∏ñ‡∏≠‡∏∞...,2020-01-06 09:48:34,,343,65,0,103,0,Guitar65959992
250,1227180270232600576,‡πÉ‡∏ö‡πÄ‡∏ü‡∏£‡∏¥‡∏ô,2020-02-11 10:39:18,,10,4,0,22,0,8IcI8yk5dFv2WYq
251,1167463192139722753,‡∏û‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏ü‡∏±‡∏á‡∏ú‡∏°,2019-08-30 15:45:22,,85,10,0,54,0,Ndu50494156
252,1214165068742443008,Warnwarn,2020-01-06 12:41:41,,82,11,0,49,0,Warnwar01206966
253,1100761828701888517,‡∏£‡∏±‡∏Å‡πÄ‡∏à‡πâ‡∏≤‡∏õ‡πà‡∏≤‡πÅ‡∏•‡∏∞‡∏ï‡∏≤‡πÅ‡∏õ‡πã‡∏ß,2019-02-27 14:17:25,,1058,32,0,1182,0,Mezamee4
254,1227467730154086400,Democrazy,2020-02-12 05:41:36,,19,18,6,28,0,Democra35691625
255,1028962833122320384,‡∏Å‡∏¥‡∏ô‡∏Ç‡πâ‡∏≤‡∏ß‡πÅ‡∏•‡πâ‡∏ß‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏ñ‡∏≤‡∏°,2018-08-13 11:13:51,,179,21,0,491,0,JaneJS10
256,446047427,TRUE MAN SHOW,2011-12-25 07:17:54,,500,160,0,105,0,mangpor2013
257,1167782081507651585,juladid,2019-08-31 12:52:06,,29,1,0,5,0,juladid1

In [48]:
gone = set(fail.screen_name) - set(new_fail.screen_name)
gone

{'JJ62084110',
 'KSuphichaya',
 'Lippo_xoxo',
 'Pippaheart',
 'Vanidapijarini',
 'Wanna95950863',
 'byriss05',
 'howdareyouparty',
 'kyk0095',
 'maskedtoni',
 'mmcmmmm',
 'third3wld',
 'yienpunpun'}

In [49]:
# write remaining users to file 
# prepare for merging with the original data
new_fail.to_csv('update_failed_users.csv', index=False, encoding='utf-8')

## Merge

In [4]:
new_fail = pd.read_csv('update_failed_users.csv', encoding='utf-8')
new_fail.head()

,id,fullname,date_joined,location,num_tweets,following,followers,likes,lists,screen_name
0,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,NaN,88,20,0,6,0,mmmmmmmz5
1,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
2,1126775183065341952,mmmmmmmz,2019-05-10 09:05:12,NaN,88,20,0,6,0,mmmmmmmz5
3,1083309395843309568,Ted-Tweet,2019-01-10 10:27:41,"Bangkok, Thailand",363,222,94,0,0,Teddy64091003
4,901120409872900099,‡∏ö‡πà‡∏ô‡πÑ‡∏õ‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏õ‡∏∑‡πà‡∏≠‡∏¢‡πÄ‡∏â‡∏∑‡πà‡∏≠‡∏¢‡πÅ‡∏â‡∏∞‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡πÅ‡∏ã‡∏∞‡∏°‡∏á‡∏°‡∏á,2017-08-25 16:33:42,7o2 planet,39784,127,23737,66735,15,hengsuaycountry

In [3]:
# merge with the original file

tweets = pd.read_csv('thai_updated_tweets.csv', encoding='utf-8')
tweets.head()

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,fullname,date_joined,location,blog,num_tweets,following,followers,num_likes_users,lists,screen_name_users
0,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,10:50 PM - 2 Dec 2019,NaN,NaN,2673.0,36.0,22.0,770.0,0.0,KI36bsxg8ozf6bg
1,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPx6yQUU8AAzED8....,False,False,9,['https://www.facebook.com/thaiprong2019/?moda...,NaN,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,NaN,NaN,78.0,304.0,99.0,395.0,0.0,thaiprong
2,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,10:50 PM - 2 Dec 2019,NaN,NaN,2673.0,36.0,22.0,770.0,0.0,KI36bsxg8ozf6bg
3,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPx6yQUU8AAzED8....,False,False,9,['https://www.facebook.com/thaiprong2019/?moda...,NaN,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,NaN,NaN,78.0,304.0,99.0,395.0,0.0,thaiprong
4,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPs1oucU0AEqzVJ....,False,False,8,[],NaN,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,NaN,NaN,78.0,304.0,99.0,395.0,0.0,thaiprong

In [5]:
tweets.columns

Index(['has_media', 'hashtags', 'img_urls', 'is_replied', 'is_reply_to',
       'likes', 'links', 'parent_tweet_id', 'replies', 'reply_to_users',
       'retweets', 'screen_name_tweets', 'text', 'text_html', 'timestamp',
       'timestamp_epochs', 'tweet_id', 'tweet_url', 'user_id_tweets',
       'username', 'video_url', 'user_id_users', 'fullname', 'date_joined',
       'location', 'blog', 'num_tweets', 'following', 'followers',
       'num_likes_users', 'lists', 'screen_name_users'],
      dtype='object')

In [6]:
tweets.shape

(3432, 32)

In [7]:
new_fail.shape

(258, 10)

In [8]:
new_fail.columns

Index(['id', 'fullname', 'date_joined', 'location', 'num_tweets', 'following',
       'followers', 'likes', 'lists', 'screen_name'],
      dtype='object')

In [9]:
tweets[['user_id_tweets', 'user_id_users']]

           user_id_tweets  user_id_users
0     1201755584225107968   1.201756e+18
1     1209024400651014144   1.209024e+18
2     1201755584225107968   1.201756e+18
3     1209024400651014144   1.209024e+18
4     1209024400651014144   1.209024e+18
...                   ...            ...
3427           4722210492   4.722210e+09
3428             97171991   9.717199e+07
3429  1159288164994838528   1.159288e+18
3430  1159288164994838528   1.159288e+18
3431  1126775183065341952            NaN

[3432 rows x 2 columns]

In [10]:
tweets.drop(columns=['screen_name_users', 'user_id_users'], inplace=True)
tweets.rename(columns={"screen_name_tweets": "screen_name",
                      "user_id_tweets": "id"}, inplace=True)

In [11]:
tweets.columns

Index(['has_media', 'hashtags', 'img_urls', 'is_replied', 'is_reply_to',
       'likes', 'links', 'parent_tweet_id', 'replies', 'reply_to_users',
       'retweets', 'screen_name', 'text', 'text_html', 'timestamp',
       'timestamp_epochs', 'tweet_id', 'tweet_url', 'id', 'username',
       'video_url', 'fullname', 'date_joined', 'location', 'blog',
       'num_tweets', 'following', 'followers', 'num_likes_users', 'lists'],
      dtype='object')

In [12]:
new_fail.columns

Index(['id', 'fullname', 'date_joined', 'location', 'num_tweets', 'following',
       'followers', 'likes', 'lists', 'screen_name'],
      dtype='object')

In [263]:
print(tweets['id'].dtype)
print(new_fail['id'].dtype)

int64
int64

In [264]:
print(tweets.dtypes)
print("\n")
print(new_fail.dtypes)

has_media              bool
hashtags             object
img_urls             object
is_replied             bool
is_reply_to            bool
likes                 int64
links                object
parent_tweet_id     float64
replies               int64
reply_to_users       object
retweets              int64
screen_name          object
text                 object
text_html            object
timestamp            object
timestamp_epochs     object
tweet_id              int64
tweet_url            object
id                    int64
username             object
video_url           float64
fullname             object
date_joined          object
location             object
blog                 object
num_tweets          float64
following           float64
followers           float64
num_likes_users     float64
lists               float64
dtype: object


id                      int64
fullname               object
date_joined    datetime64[ns]
location               object
num_tweets              int64
following               int64
followers               int64
likes                   int64
lists                   int64
screen_name            object
dtype: object

In [13]:
# manually change column types
types = {'id': 'int64', 'fullname': 'str', 'new_date_joined': 'datetime64[ns]', 
         'location': 'str', 'num_tweets': 'int64', 'following': 'int64',
         'followers': 'int64', 'likes': 'int64', 'lists': 'int64',
         'screen_name': 'str'}

In [14]:
print(new_fail['date_joined'].iloc[0])
print(type(new_fail['date_joined'].iloc[0]))

2019-05-10 09:05:12
<class 'str'>

In [15]:
pd.Timestamp(new_fail['date_joined'].iloc[0]).to_pydatetime()

datetime.datetime(2019, 5, 10, 9, 5, 12)

In [16]:
tweets['date_joined'].iloc[0]

'10:50 PM - 2 Dec 2019'

In [20]:
from datetime import datetime
s = '10:50 PM - 2 Dec 2019'
new_s = s.split()
new_s = ''.join(new_s)
print(new_s)
f = "%I:%M%p-%d%b%Y"
#f = "%Y-%m-%dT%H:%M:%S.%fZ"
out = datetime.strptime(new_s, f)
print(out)
print(type(out))
print(pd.Timestamp(out))
print(type(pd.Timestamp(out)))

10:50PM-2Dec2019
2019-12-02 22:50:00
<class 'datetime.datetime'>
2019-12-02 22:50:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [21]:
import numpy as np
def change_to_timestamp(s):
    if s == -1:
        return s
    new_s = s.split()
    new_s = ''.join(new_s)
    f = "%I:%M%p-%d%b%Y"
    out = datetime.strptime(new_s, f)
    out = pd.Timestamp(out)
    return out

In [22]:
tweets = tweets.fillna(-1)
new_fail = new_fail.fillna(-1)

In [23]:
tweets['new_date_joined'] = tweets['date_joined'].apply(change_to_timestamp)
tweets['new_date_joined']

0       2019-12-02 22:50:00
1       2019-12-23 00:14:00
2       2019-12-02 22:50:00
3       2019-12-23 00:14:00
4       2019-12-23 00:14:00
               ...
3427    2016-01-06 23:07:00
3428    2009-12-16 01:08:00
3429    2019-08-07 19:20:00
3430    2019-08-07 19:20:00
3431                     -1
Name: new_date_joined, Length: 3432, dtype: object

In [24]:
tweets['new_date_joined'] = np.where(tweets['new_date_joined'] == -1, np.nan, tweets['new_date_joined'])

In [25]:
tweets.astype(types)

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,fullname,date_joined,location,blog,num_tweets,following,followers,num_likes_users,lists,new_date_joined
0,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,10:50 PM - 2 Dec 2019,-1,-1,2673,36,22,770.0,0,2019-12-02 22:50:00
1,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPx6yQUU8AAzED8....,False,False,9,['https://www.facebook.com/thaiprong2019/?moda...,-1.000000e+00,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,-1,-1,78,304,99,395.0,0,2019-12-23 00:14:00
2,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,10:50 PM - 2 Dec 2019,-1,-1,2673,36,22,770.0,0,2019-12-02 22:50:00
3,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPx6yQUU8AAzED8....,False,False,9,['https://www.facebook.com/thaiprong2019/?moda...,-1.000000e+00,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,-1,-1,78,304,99,395.0,0,2019-12-23 00:14:00
4,True,"['‡πÑ‡∏ß‡∏£', '‡πÑ‡∏ß‡∏£', '‡∏£', '‡πÄ‡∏™‡∏û‡∏™', '‡∏≠‡∏¢', 'Fakenews', ...",['https://pbs.twimg.com/media/EPs1oucU0AEqzVJ....,False,False,8,[],-1.000000e+00,0,[],...,‡∏£‡∏ß‡∏°‡πÉ‡∏à‡πÑ‡∏ó‡∏¢‡∏õ‡∏£‡∏≠‡∏á‡∏î‡∏≠‡∏á,12:14 AM - 23 Dec 2019,-1,-1,78,304,99,395.0,0,2019-12-23 00:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3427,False,['‡∏£'],[],False,False,0,[],-1.000000e+00,0,[],...,` ‡∏Ç‡πâ‡∏≤‡∏ß‡∏õ‡∏±‡πâ‡∏ô,11:07 PM - 6 Jan 2016,‡∏ó‡∏µ‡πà 1 ‡πÉ‡∏ô‡πÉ‡∏à‡∏Ñ‡∏∏‡∏ì,-1,1618,77,17,5403.0,0,2016-01-06 23:07:00
3428,False,['‡∏£'],[],False,False,1,[],-1.000000e+00,0,[],...,üíú‡∏õ‡∏µ‡∏ô‡∏µ‡πâ‡∏°‡∏≤‡πÅ‡∏ô‡πà ‡πÇ‡∏ã‡∏ä‡∏¥‡∏°‡∏≤‡πÅ‡∏ô‡πà!!!!~‚ù•ÌÉúÏó∞¬†ü¶ã,1:08 AM - 16 Dec 2009,S¬†‚ù§Ô∏èNE | 0805,-1,130677,758,560,12667.0,4,2009-12-16 01:08:00
3429,False,['‡∏£'],[],False,False,1,[],-1.000000e+00,0,[],...,zazukekenji,7:20 PM - 7 Aug 2019,-1,-1,9948,153,125,278.0,0,2019-08-07 19:20:00
3430,False,['‡∏£'],[],False,False,1,[],-1.000000e+00,0,[],...,zazukekenji,7:20 PM - 7 Aug 2019,-1,-1,9948,153,125,278.0,0,2019-08-07 19:20:00
3431,False,['‡∏£'],[],False,False,0,['https://twitter.com/roong79255778/status/122...,-1.000000e+00,0,[],...,-1,-1,-1,-1,-1,-1,-1,-1.0,-1,NaT

In [26]:
tweets.drop(columns=['date_joined'], inplace=True)
tweets.rename(columns={"new_date_joined": "date_joined"}, inplace=True)

In [277]:
# merge 
# change dtype in screen_name cols of each dataframe and try again
keys_to_join = list(new_fail.columns)
updated_tweets = pd.merge(tweets, new_fail, 
                          left_on=keys_to_join, right_on =keys_to_join,
                          how='outer', suffixes=('_twt', '_fail'))

In [278]:
updated_tweets.shape

(3690, 30)

In [279]:
updated_tweets.head()

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,video_url,fullname,location,blog,num_tweets,following,followers,num_likes_users,lists,date_joined
0,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0.0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,-1.0,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,-1,-1,2673.0,36.0,22.0,770.0,0.0,2019-12-02 22:50:00
1,False,['‡∏£'],[],False,True,0,[],1.223209e+18,0.0,"[{'screen_name': 'LeeOnodee', 'user_id': '1556...",...,-1.0,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,-1,-1,2673.0,36.0,22.0,770.0,0.0,2019-12-02 22:50:00
2,False,['‡∏£'],[],True,True,0,[],1.222899e+18,1.0,"[{'screen_name': 'JJnwtO9dyceWS5I', 'user_id':...",...,-1.0,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,-1,-1,2673.0,36.0,22.0,770.0,0.0,2019-12-02 22:50:00
3,False,"['‡∏£', '‡∏ó‡∏´‡∏≤‡∏£‡πÄ‡∏õ']",[],False,True,0,[],1.222899e+18,0.0,"[{'screen_name': 'Talone86913539', 'user_id': ...",...,-1.0,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,-1,-1,2673.0,36.0,22.0,770.0,0.0,2019-12-02 22:50:00
4,False,['‡∏£'],[],False,True,0,[],1.222899e+18,0.0,"[{'screen_name': 'Supe73499123', 'user_id': '1...",...,-1.0,‡∏ä‡∏±‡∏¢ ‡∏™‡∏∏‡∏Ç‡∏Å‡∏≤‡∏¢‡∏™‡∏ö‡∏≤‡∏¢‡πÉ‡∏à,-1,-1,2673.0,36.0,22.0,770.0,0.0,2019-12-02 22:50:00

In [280]:
updated_tweets.columns

Index(['has_media', 'hashtags', 'img_urls', 'is_replied', 'is_reply_to',
       'likes', 'links', 'parent_tweet_id', 'replies', 'reply_to_users',
       'retweets', 'screen_name', 'text', 'text_html', 'timestamp',
       'timestamp_epochs', 'tweet_id', 'tweet_url', 'id', 'username',
       'video_url', 'fullname', 'location', 'blog', 'num_tweets', 'following',
       'followers', 'num_likes_users', 'lists', 'date_joined'],
      dtype='object')

In [281]:
updated_tweets[updated_tweets['id'] == 1126775183065341952]

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,video_url,fullname,location,blog,num_tweets,following,followers,num_likes_users,lists,date_joined
469,False,"['‡∏ú‡∏ô‡∏á‡∏£‡∏à‡∏ï‡∏Å‡∏°', '‡∏£']",[],True,False,0,['https://twitter.com/kovitw1/status/122867465...,-1.0,1.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
470,False,['‡∏£'],[],False,False,0,['https://twitter.com/Vanidapijarini/status/12...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
471,False,['‡∏£'],[],False,False,0,['https://twitter.com/Vanidapijarini/status/12...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
472,False,['‡∏£'],[],False,False,0,['https://twitter.com/thairath_news/status/122...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
473,False,['‡∏£'],[],False,False,0,['https://twitter.com/Epp95XeuzzJkh2Z/status/1...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
474,False,"['‡∏£', '‡∏ú‡∏ô‡∏á‡∏£‡∏à‡∏ï‡∏Å‡∏°https']",[],False,False,0,['https://twitter.com/matichononline/status/12...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
475,False,['‡∏£'],[],False,False,0,['https://twitter.com/roong79255778/status/122...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
617,False,['‡∏£'],[],False,False,1,['https://twitter.com/mtmh94/status/1228002186...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
618,False,['‡∏£'],[],False,False,1,['https://twitter.com/mtmh94/status/1228002186...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
619,False,['‡∏£'],[],False,False,1,['https://twitter.com/NoLungNoKaLa/status/1228...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
620,False,['‡∏£'],[],False,False,1,['https://twitter.com/jin_Ch3Thailand/status/1...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
633,False,"['‡∏™', '‡∏ú‡∏ô‡∏á‡∏£‡∏à‡∏ï‡∏Å‡∏°', '‡∏£']",[],False,False,5,['https://twitter.com/sleeplessbkk/status/1228...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
634,False,"['‡∏™', '‡∏ú‡∏ô‡∏á‡∏£‡∏à‡∏ï‡∏Å‡∏°', '‡∏£']",[],False,False,5,['https://twitter.com/sleeplessbkk/status/1228...,-1.0,0.0,[],...,-1.0,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,NaT
3432,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,...,NaN,mmmmmmmz,,NaN,88.0,20.0,0.0,NaN,0.0,2019-05-10 09:05:12
3433,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,...,NaN,mmmmmmmz,,NaN,88.0,20.0,0.0,NaN,0.0,2019-05-10 09:05:12
3434,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,...,NaN,mmmmmmmz,,NaN,88.0,20.0,0.0,NaN,0.0,2019-05-10 09:05:12
3435,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,...,NaN,mmmmmmmz,,NaN,88.0,20.0,0.0,NaN,0.0,2019-05-10 09:05:12

# Last resort: iterate over rows and make new data frame

In [29]:
keys_to_join

['id',
 'fullname',
 'date_joined',
 'location',
 'num_tweets',
 'following',
 'followers',
 'likes',
 'lists',
 'screen_name']

In [74]:
tweets.columns

Index(['has_media', 'hashtags', 'img_urls', 'is_replied', 'is_reply_to',
       'likes', 'links', 'parent_tweet_id', 'replies', 'reply_to_users',
       'retweets', 'screen_name', 'text', 'text_html', 'timestamp',
       'timestamp_epochs', 'tweet_id', 'tweet_url', 'id', 'username',
       'video_url', 'fullname', 'location', 'blog', 'num_tweets', 'following',
       'followers', 'num_likes', 'lists', 'date_joined'],
      dtype='object')

In [37]:
tweets.rename(columns={"num_likes_users": "num_likes"}, inplace=True)

In [46]:
new_tweets = tweets.copy()

In [89]:
fail_users_list = list(new_fail['id'].values)
fail_users_list_name = list(new_fail['screen_name'].values)

In [83]:
# first pass using ID 
for user in fail_users_list:
    print("~~~ working on user: ", user)
    new_tweets.loc[new_tweets['id'] == user, 'num_tweets'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'num_tweets'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'following'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'following'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'followers'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'followers'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'num_likes'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'likes'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'screen_name'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'screen_name'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'fullname'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'fullname'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'date_joined'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'date_joined'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'location'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'location'].values[0]
    new_tweets.loc[new_tweets['id'] == user, 'lists'] = new_fail.loc[new_fail['id'] == user, \
                                                                          'lists'].values[0]

~~~ working on user:  1126775183065341952
~~~ working on user:  1083309395843309568
~~~ working on user:  1126775183065341952
~~~ working on user:  1083309395843309568
~~~ working on user:  901120409872900099
~~~ working on user:  1126775183065341952
~~~ working on user:  1083309395843309568
~~~ working on user:  901120409872900099
~~~ working on user:  1126775183065341952
~~~ working on user:  1083309395843309568
~~~ working on user:  901120409872900099
~~~ working on user:  1223973606322913280
~~~ working on user:  2897885834
~~~ working on user:  1213345341522624513
~~~ working on user:  1224979953256521728
~~~ working on user:  1197408461203525632
~~~ working on user:  869932036571643904
~~~ working on user:  1217880957790769152
~~~ working on user:  1213993177180278784
~~~ working on user:  1206434928885239809
~~~ working on user:  1220848827982213121
~~~ working on user:  1189552004382674950
~~~ working on user:  1227992807790407682
~~~ working on user:  972222677279789057
~~~ working on user:  1217161921364819968
~~~ working on user:  1229258128945905664
~~~ working on user:  1093331250306150400
~~~ working on user:  1221750918808387584
~~~ working on user:  1206235544012722176
~~~ working on user:  982141233265983496
~~~ working on user:  2831854472
~~~ working on user:  1213800019767091200
~~~ working on user:  1178748334745407488
~~~ working on user:  1203183046070947840
~~~ working on user:  1202478971033546752
~~~ working on user:  1216077123510648832
~~~ working on user:  1222477333359034370
~~~ working on user:  1219189446676889601
~~~ working on user:  1194165627725860864
~~~ working on user:  1229729190561214466
~~~ working on user:  753947828204941312
~~~ working on user:  1227083151802941440
~~~ working on user:  1222427087111221248
~~~ working on user:  1197261914436321280
~~~ working on user:  1227306819774640128
~~~ working on user:  1229400586845487104
~~~ working on user:  1097796391038906368
~~~ working on user:  1221312528212316161
~~~ working on user:  923042617130065920
~~~ working on user:  908917948659544064
~~~ working on user:  954691752660688896
~~~ working on user:  1186659378591485952
~~~ working on user:  1228042382316171264
~~~ working on user:  82390213
~~~ working on user:  1222050741264666624
~~~ working on user:  1881840176
~~~ working on user:  1227925816840867840
~~~ working on user:  1153487555997790209
~~~ working on user:  1215443766242230272
~~~ working on user:  1214385368578981889
~~~ working on user:  1227966185817296896
~~~ working on user:  1226800492409307136
~~~ working on user:  1112474396684238848
~~~ working on user:  872983508087525376
~~~ working on user:  1014037453114490880
~~~ working on user:  1195541332611063808
~~~ working on user:  1177832786247307264
~~~ working on user:  913752801699815424
~~~ working on user:  1220045252662161408
~~~ working on user:  1220737791396474882
~~~ working on user:  1223868548264517632
~~~ working on user:  1089708415037784065
~~~ working on user:  1220016193861345280
~~~ working on user:  1221627899918221312
~~~ working on user:  1214635787175649280
~~~ working on user:  1221984272438849537
~~~ working on user:  1224562403955761152
~~~ working on user:  1223595229648809984
~~~ working on user:  1198494198728552449
~~~ working on user:  1193105031517442049
~~~ working on user:  1219523014208843776
~~~ working on user:  1227273953502085125
~~~ working on user:  1226036127041110016
~~~ working on user:  1214524633300365313
~~~ working on user:  1205840582788042752
~~~ working on user:  1209346194427666434
~~~ working on user:  4848885953
~~~ working on user:  1182915506178674688
~~~ working on user:  1212618290478010368
~~~ working on user:  1213097829880614913
~~~ working on user:  1215227916750970881
~~~ working on user:  1132702562291920896
~~~ working on user:  1215288689225420800
~~~ working on user:  1226709442181222401
~~~ working on user:  340881675
~~~ working on user:  1109719746419646464
~~~ working on user:  1220138760014196736
~~~ working on user:  1125079046826520577
~~~ working on user:  1227985995246628864
~~~ working on user:  1214079721631174656
~~~ working on user:  1219967659560718336
~~~ working on user:  1214781137978920961
~~~ working on user:  1203123045184851974
~~~ working on user:  1121741706813009921
~~~ working on user:  1220531538804084736
~~~ working on user:  1163843873250037766
~~~ working on user:  1095907284297764864
~~~ working on user:  1226562070314921986
~~~ working on user:  1221695832937730048
~~~ working on user:  1193941599316631552
~~~ working on user:  1228529433197211648
~~~ working on user:  1216713336340934657
~~~ working on user:  1226789012322406400
~~~ working on user:  719926720271294464
~~~ working on user:  1227559757789007873
~~~ working on user:  1224913139952541696
~~~ working on user:  1204280493417435138
~~~ working on user:  1188327740107177984
~~~ working on user:  1221496783781556224
~~~ working on user:  1219872303804084225
~~~ working on user:  1093715931505684486
~~~ working on user:  1053857110113435655
~~~ working on user:  1209870497699090432
~~~ working on user:  1221382809803055112
~~~ working on user:  1228160978451193856
~~~ working on user:  1195718244042080256
~~~ working on user:  1215300813284708352
~~~ working on user:  1219873539978747904
~~~ working on user:  1219799944682278913
~~~ working on user:  1059504788730081280
~~~ working on user:  1129249434313740288
~~~ working on user:  1198591705865285633
~~~ working on user:  1219979815945564161
~~~ working on user:  1213866392950206465
~~~ working on user:  1145225914155843585
~~~ working on user:  1137791720236564480
~~~ working on user:  1223079839642468352
~~~ working on user:  1044992890957574144
~~~ working on user:  1213803834562138112
~~~ working on user:  1227588941022294017
~~~ working on user:  1101104939298746368
~~~ working on user:  1141269404631461894
~~~ working on user:  1168914850464116737
~~~ working on user:  2373822422
~~~ working on user:  1227208766602399745
~~~ working on user:  1219837529341321216
~~~ working on user:  1146237303318122496
~~~ working on user:  1181859276739895297
~~~ working on user:  1225950666394222592
~~~ working on user:  1227899227725942785
~~~ working on user:  925529286072602624
~~~ working on user:  1226177889294401536
~~~ working on user:  1228108203272982528
~~~ working on user:  1126645012081532928
~~~ working on user:  1223262775507447808
~~~ working on user:  1205661691536691200
~~~ working on user:  1221637899021516800
~~~ working on user:  1227942599761154049
~~~ working on user:  1098558270745149441
~~~ working on user:  1203899153564090368
~~~ working on user:  1163626318724046848
~~~ working on user:  556510888
~~~ working on user:  1228044301025701893
~~~ working on user:  1189457085907386368
~~~ working on user:  1103959344557760512
~~~ working on user:  1044989549007405057
~~~ working on user:  1221142750080294912
~~~ working on user:  1148647044141088768
~~~ working on user:  1712254074
~~~ working on user:  997325606671994880
~~~ working on user:  1227876671614619648
~~~ working on user:  1220295576735977475
~~~ working on user:  1209074351422656513
~~~ working on user:  1119460626336604161
~~~ working on user:  1220020422604800001
~~~ working on user:  1227192116608028672
~~~ working on user:  1057337852093034497
~~~ working on user:  2531155326
~~~ working on user:  1004017832516939776
~~~ working on user:  2451770546
~~~ working on user:  1210769808330874880
~~~ working on user:  1192960005143584768
~~~ working on user:  1040173456774426624
~~~ working on user:  1223168252446040064
~~~ working on user:  1221374049827225600
~~~ working on user:  4732392692
~~~ working on user:  1079992972874199040
~~~ working on user:  1173542751507382272
~~~ working on user:  1214167001150545920
~~~ working on user:  1171001417777082368
~~~ working on user:  786175405543698432
~~~ working on user:  1226324430835503106
~~~ working on user:  1211650659990175744
~~~ working on user:  1048108163382173697
~~~ working on user:  1226935420828540928
~~~ working on user:  1197751947131940864
~~~ working on user:  1220995103642144768
~~~ working on user:  1212991392307269632
~~~ working on user:  1959132673
~~~ working on user:  1108563115732541441
~~~ working on user:  1012322058875727872
~~~ working on user:  1201080817088249862
~~~ working on user:  1017833701126729729
~~~ working on user:  1221150549816401920

~~~ working on user:  1223992343679758336
~~~ working on user:  895674630496636928
~~~ working on user:  1221864999678668801
~~~ working on user:  1183962318436126720
~~~ working on user:  1224545923813920768
~~~ working on user:  982211507797676032
~~~ working on user:  1201194448857620480
~~~ working on user:  1068117235678367745
~~~ working on user:  1219702203369132032
~~~ working on user:  1220401056112209920
~~~ working on user:  1106785406916321280
~~~ working on user:  1007881411024510977
~~~ working on user:  1177207747734949888
~~~ working on user:  1159494576802942976
~~~ working on user:  1222819548941844480
~~~ working on user:  946564134178504704
~~~ working on user:  1074966062590873600
~~~ working on user:  1221430795501371395
~~~ working on user:  1217774669287186433
~~~ working on user:  774471738776178688
~~~ working on user:  1214925431020802048
~~~ working on user:  1217793518610968577
~~~ working on user:  1186646180094205953
~~~ working on user:  1219797138718093313
~~~ working on user:  1012750302817091585
~~~ working on user:  1189106003284905986
~~~ working on user:  1223907066256871429
~~~ working on user:  1160610656560615424
~~~ working on user:  3273756895
~~~ working on user:  968123890265239552
~~~ working on user:  1193083017641611266
~~~ working on user:  1208468246157901824
~~~ working on user:  1132670728334012416
~~~ working on user:  1219555702399627264
~~~ working on user:  1184033402527215617
~~~ working on user:  1197229160629862400
~~~ working on user:  2853271338
~~~ working on user:  1110051833697853440
~~~ working on user:  1183614244564037634
~~~ working on user:  1216987394563395584
~~~ working on user:  1108232842553643008
~~~ working on user:  1217671202736467969
~~~ working on user:  1186577620038647808
~~~ working on user:  1038620698044821505
~~~ working on user:  954992660418240512
~~~ working on user:  1214121129582841856
~~~ working on user:  1227180270232600576
~~~ working on user:  1167463192139722753
~~~ working on user:  1214165068742443008
~~~ working on user:  1100761828701888517
~~~ working on user:  1227467730154086400
~~~ working on user:  1028962833122320384
~~~ working on user:  446047427
~~~ working on user:  1167782081507651585

In [90]:
# second pass using screen name
for user in fail_users_list_name:
    print("~~~ working on user: ", user)
    new_tweets.loc[new_tweets['screen_name'] == user, 'num_tweets'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'num_tweets'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'following'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'following'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'followers'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'followers'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'num_likes'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'likes'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'screen_name'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'screen_name'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'fullname'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'fullname'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'date_joined'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'date_joined'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'location'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'location'].values[0]
    new_tweets.loc[new_tweets['screen_name'] == user, 'lists'] = new_fail.loc[new_fail['screen_name'] == user, \
                                                                          'lists'].values[0]

~~~ working on user:  mmmmmmmz5
~~~ working on user:  Teddy64091003
~~~ working on user:  mmmmmmmz5
~~~ working on user:  Teddy64091003
~~~ working on user:  hengsuaycountry
~~~ working on user:  mmmmmmmz5
~~~ working on user:  Teddy64091003
~~~ working on user:  hengsuaycountry
~~~ working on user:  mmmmmmmz5
~~~ working on user:  Teddy64091003
~~~ working on user:  hengsuaycountry
~~~ working on user:  20Nov6
~~~ working on user:  wisutter
~~~ working on user:  fayyyma
~~~ working on user:  norchoo
~~~ working on user:  luckybo16878263
~~~ working on user:  fern_nnnnnnnn
~~~ working on user:  Nattnoot
~~~ working on user:  jz3kEGg0UrTC4Nb
~~~ working on user:  Ssming6
~~~ working on user:  kr1ssirk
~~~ working on user:  J39Pleng
~~~ working on user:  karl20514383
~~~ working on user:  gigawatthour
~~~ working on user:  EYfYcGTx7kGvGgK
~~~ working on user:  Miss_MessyHair
~~~ working on user:  Suchai71202767
~~~ working on user:  Bank88778324
~~~ working on user:  nosandbox_
~~~ working on user:  TeamTeam2002
~~~ working on user:  hiyamaha1122
~~~ working on user:  lalitawadee2020
~~~ working on user:  jaidee98
~~~ working on user:  TxnmB
~~~ working on user:  Pattara54977629
~~~ working on user:  34ZVail7dnQFYb1
~~~ working on user:  Whan65526447
~~~ working on user:  888999hhh
~~~ working on user:  hoshi_miss
~~~ working on user:  kanokwa22718982
~~~ working on user:  ziaxig
~~~ working on user:  BYrBD3HEW3PLnju
~~~ working on user:  victgfWI51UVJyx
~~~ working on user:  lislisoooo
~~~ working on user:  Mind316780291
~~~ working on user:  parxcha
~~~ working on user:  Aozzz8
~~~ working on user:  El4T7W2d02pKnFF
~~~ working on user:  BoogeyManZ8
~~~ working on user:  WnbG7
~~~ working on user:  dafuqlikethat
~~~ working on user:  Khungaew4
~~~ working on user:  Job512
~~~ working on user:  SlumBombay
~~~ working on user:  chidy13851649
~~~ working on user:  ImLek44323
~~~ working on user:  jssnve
~~~ working on user:  loveat1sight_
~~~ working on user:  xfh3L2byLTD6kFa
~~~ working on user:  bobobo02754467
~~~ working on user:  sps_yo
~~~ working on user:  N2gwttisY9aI3XO
~~~ working on user:  Yyoungthux
~~~ working on user:  SupraratK
~~~ working on user:  PeejungM
~~~ working on user:  gradientsky_
~~~ working on user:  YA58801955
~~~ working on user:  Aittisak04
~~~ working on user:  NK80884959
~~~ working on user:  bird1564156415
~~~ working on user:  MV0016
~~~ working on user:  minahp1328
~~~ working on user:  IfIRFQRB8Y3Hijy
~~~ working on user:  Pichit48767546
~~~ working on user:  myMark59877588
~~~ working on user:  Joker53222068
~~~ working on user:  IuckBad
~~~ working on user:  ismeemomomo
~~~ working on user:  Memi43410876
~~~ working on user:  cip_in
~~~ working on user:  T130413595
~~~ working on user:  MILK63033132
~~~ working on user:  panu_1994s
~~~ working on user:  2L5xlqyhRjHsKm7
~~~ working on user:  secret26296138
~~~ working on user:  DarkDD_PPM
~~~ working on user:  negidante
~~~ working on user:  EZABELL20
~~~ working on user:  Catzill80457123
~~~ working on user:  NasalStory
~~~ working on user:  quartz44091878
~~~ working on user:  ow39iM7ijTkQmAG
~~~ working on user:  fffhhhaaa4
~~~ working on user:  peac_my
~~~ working on user:  tkwansiri
~~~ working on user:  WuKHvn5tdIG57x6
~~~ working on user:  natty70782854
~~~ working on user:  Me16129664
~~~ working on user:  New34175827
~~~ working on user:  X2MfGUJ1UI9BF8o
~~~ working on user:  banana_naaka
~~~ working on user:  fnRbQ4SvlMmFTYg
~~~ working on user:  naheeatall
~~~ working on user:  Uknow70669611
~~~ working on user:  K92jDrzjm0SxkZd
~~~ working on user:  Giggg54049114
~~~ working on user:  pacharamontra
~~~ working on user:  capybalah
~~~ working on user:  kkOppasarang
~~~ working on user:  Secretofku
~~~ working on user:  sailorsunx
~~~ working on user:  D7BDy1LB2VS2Kef
~~~ working on user:  OQTIEcw1a5mjdy8
~~~ working on user:  krikrigugikuku
~~~ working on user:  review_meow
~~~ working on user:  I2aul1
~~~ working on user:  ImAQuee59472183
~~~ working on user:  6eLagy
~~~ working on user:  man71957453
~~~ working on user:  0Ud9hmEi8KKRDeP
~~~ working on user:  jinnanatt
~~~ working on user:  kkung2323
~~~ working on user:  jjjeep4
~~~ working on user:  Malo90279696
~~~ working on user:  NhomPing41
~~~ working on user:  cchuuuuuuuu
~~~ working on user:  fuckyoustupidPM
~~~ working on user:  watdafuqkasis
~~~ working on user:  UyDPFavuSwJpu4Z
~~~ working on user:  za_lome
~~~ working on user:  Kate86661233
~~~ working on user:  LPICH4
~~~ working on user:  Ns72795675
~~~ working on user:  XlPk3RvyfcN0pX6
~~~ working on user:  aof57338152
~~~ working on user:  CPMay1993
~~~ working on user:  TiFhceEYYTUx5vh
~~~ working on user:  meowginaaa
~~~ working on user:  FujiStore_
~~~ working on user:  Z9bVsqYyCzY0OvI
~~~ working on user:  yaierr1
~~~ working on user:  ntwtsp
~~~ working on user:  KPorpuii
~~~ working on user:  hybb_b
~~~ working on user:  FYmMEPY9Z9DQxFV
~~~ working on user:  susuzy13
~~~ working on user:  3_2_1_Eng_Game
~~~ working on user:  Qj59288737
~~~ working on user:  PEARRY47548976
~~~ working on user:  guyaktaieisas
~~~ working on user:  ghost_phee
~~~ working on user:  mani_nad
~~~ working on user:  nchxxxiiz
~~~ working on user:  DF66680405
~~~ working on user:  NonoRivie
~~~ working on user:  49coffee51book
~~~ working on user:  KimSwif41706489
~~~ working on user:  Xnp5secyjxGqNvn
~~~ working on user:  toei_gu
~~~ working on user:  PBhreem
~~~ working on user:  batoeyyyy
~~~ working on user:  Daa_tenaa
~~~ working on user:  Job1066318714
~~~ working on user:  Jaehyunn15
~~~ working on user:  N42Fb5zBYqQFFBz
~~~ working on user:  IndyAun1
~~~ working on user:  suriyakrad
~~~ working on user:  Gz1315
~~~ working on user:  tommydenver1707
~~~ working on user:  chonnapat42
~~~ working on user:  jCeg2cKuskDexo4
~~~ working on user:  Kok23119350
~~~ working on user:  V_NT10
~~~ working on user:  ChilliLady2
~~~ working on user:  realty132690449
~~~ working on user:  iIBbrg7hD1qFeMy
~~~ working on user:  8140___
~~~ working on user:  t_natkittiya
~~~ working on user:  Phongtransport
~~~ working on user:  peak_kkp
~~~ working on user:  A29531648
~~~ working on user:  Natty62424662
~~~ working on user:  Nqixrll2004
~~~ working on user:  9360Gun
~~~ working on user:  JJ33102238
~~~ working on user:  ole_strawberry
~~~ working on user:  mukkznim
~~~ working on user:  Shalalapapa
~~~ working on user:  Wine34075404
~~~ working on user:  kattypy
~~~ working on user:  DoDoDiggy
~~~ working on user:  q84hlIAFFTfSpqt
~~~ working on user:  Nop37859068
~~~ working on user:  patcharapon0071
~~~ working on user:  lckssh
~~~ working on user:  ribbinlop1
~~~ working on user:  Itaboutmoney1
~~~ working on user:  oharasun867
~~~ working on user:  behumanplease__
~~~ working on user:  SuksamranJ
~~~ working on user:  ramkanjangkaa
~~~ working on user:  cj24832740
~~~ working on user:  kkrunzz
~~~ working on user:  ggalalame
~~~ working on user:  jANEE20151141
~~~ working on user:  Fongbee49199851
~~~ working on user:  AdulThape
~~~ working on user:  SOLO81726735
~~~ working on user:  mameawhewkao
~~~ working on user:  186209ad
~~~ working on user:  ningnin93060027
~~~ working on user:  Moooooo04987259
~~~ working on user:  QiSUNAYv7uxdVXB
~~~ working on user:  c2NLSOFRWGrwyN0
~~~ working on user:  Patchanat6
~~~ working on user:  thasnee_jb
~~~ working on user:  gusandy____
~~~ working on user:  Wipawan56970935
~~~ working on user:  fujidb014
~~~ working on user:  kbgale44
~~~ working on user:  Secret_panda12
~~~ working on user:  beer69604099
~~~ working on user:  akazasamo
~~~ working on user:  KatleenD5
~~~ working on user:  Sepae_
~~~ working on user:  SUPHAPAM
~~~ working on user:  zuxxjPVdnzNqGlt
~~~ working on user:  nana95220105
~~~ working on user:  non85989264
~~~ working on user:  Moana123456
~~~ working on user:  Nutcha13154027
~~~ working on user:  mr_onedertime
~~~ working on user:  virgogirl__
~~~ working on user:  ssysia2
~~~ working on user:  VIP88912
~~~ working on user:  CherlynColacat
~~~ working on user:  sadturnday_
~~~ working on user:  IPromsut
~~~ working on user:  kratai2510
~~~ working on user:  Bm3oiub49O2vjpi
~~~ working on user:  jjchatra
~~~ working on user:  B55105014
~~~ working on user:  TheDudee5
~~~ working on user:  wcr787
~~~ working on user:  A2O08969263
~~~ working on user:  AbcEieikiki
~~~ working on user:  zolzhumeiyi
~~~ working on user:  Tei_balakuukuuk
~~~ working on user:  On_soRn
~~~ working on user:  Guitar65959992
~~~ working on user:  8IcI8yk5dFv2WYq
~~~ working on user:  Ndu50494156

~~~ working on user:  Warnwar01206966
~~~ working on user:  Mezamee4
~~~ working on user:  Democra35691625
~~~ working on user:  JaneJS10
~~~ working on user:  mangpor2013
~~~ working on user:  juladid1

In [84]:
new_fail.loc[new_fail['id'] == 1100761828701888517]

,id,fullname,date_joined,location,num_tweets,following,followers,likes,lists,screen_name
253,1100761828701888517,‡∏£‡∏±‡∏Å‡πÄ‡∏à‡πâ‡∏≤‡∏õ‡πà‡∏≤‡πÅ‡∏•‡∏∞‡∏ï‡∏≤‡πÅ‡∏õ‡πã‡∏ß,2019-02-27 14:17:25,-1,1058,32,0,1182,0,Mezamee4

In [91]:
new_tweets.loc[new_tweets['screen_name'] == 'Mezamee4']

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,video_url,fullname,location,blog,num_tweets,following,followers,num_likes,lists,date_joined
729,False,['‡∏£'],[],False,False,1,[],-1.0,0,[],...,-1.0,‡∏£‡∏±‡∏Å‡πÄ‡∏à‡πâ‡∏≤‡∏õ‡πà‡∏≤‡πÅ‡∏•‡∏∞‡∏ï‡∏≤‡πÅ‡∏õ‡πã‡∏ß,-1,-1,1058.0,32.0,0.0,1182.0,0.0,2019-02-27 14:17:25

In [99]:
new_tweets.loc[new_tweets['num_tweets'] == -1]['screen_name'].unique()

array(['byriss05', 'Lippo_xoxo', 'yienpunpun', 'Vanidapijarini',
       'mmcmmmm', 'howdareyouparty', 'Pippaheart', 'JJ62084110',
       'kyk0095', 'Wanna95950863', 'third3wld', 'KSuphichaya',
       'maskedtoni'], dtype=object)

In [102]:
gone = {'JJ62084110',
 'KSuphichaya',
 'Lippo_xoxo',
 'Pippaheart',
 'Vanidapijarini',
 'Wanna95950863',
 'byriss05',
 'howdareyouparty',
 'kyk0095',
 'maskedtoni',
 'mmcmmmm',
 'third3wld',
 'yienpunpun'}

gone_tweets = set(new_tweets.loc[new_tweets['num_tweets'] == -1]['screen_name'].unique())

In [104]:
print(gone - gone_tweets)
print(gone_tweets - gone)

set()
set()

In [106]:
nwer_tweets = new_tweets[~new_tweets['screen_name'].isin(gone)]

In [107]:
nwer_tweets.reset_index(drop=True, inplace=True)

In [109]:
nwer_tweets.to_csv('tweets_final.csv', index=False, encoding='utf-8')

Done! Finished with merging values and is ready to be used for classification